<h1>Your Name is: <strong>{{name}}</strong></h1>

<ul>
    <li id="strength"><div>Strength: </div><span type="span" class="dec">-1</span> <strong>{{userWarrior.strength}}</strong> <span type="span" class="inc">+1</span></li>
    <li id="defence"><div>Defence: </div><span type="span" class="dec">-1</span> <strong>{{userWarrior.defence}}</strong> <span type="span" class="inc">+1</span></li>
    <li id="stamina"><div>Stamina: </div><span type="span" class="dec">-1</span> <strong>{{userWarrior.stamina}}</strong> <span type="span" class="inc">+1</span></li>
    <li id="agility"><div>Agility: </div><span type="span" class="dec">-1</span> <strong>{{userWarrior.agility}}</strong> <span type="span" class="inc">+1</span></li>
    <li><div>Wins: </div><strong>{{userWarrior.wins}}</strong></li>
</ul>

<script src="/assets/scripts/add-to-hero-variables.js"></script>
<script src="/assets/scripts/add-to-hero-functions.js"></script>